@CHARSET "ISO-8859-1";

body {
	/*margin: 40px 10px;*/
	padding: 0;
	/*font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;*/
	font-size: 14px;
}

.calendar {
	width: 300px;
	display:inline-block;
}
.fc-other-month {
   opacity: 0;  
   color: white; 
} 

td.color-class{
  color: #ffffff;
  background-color: #246482;
  border-color: #2e6da4;
  font-weight: bold;
  font-size: 25px;
}

.fc-scroller{
	overflow-y: hidden;
}
div.waiting div.fa-spinner-box{
	display:block;
	margin:auto;
	width:100px;
}

@media only screen and (max-width: 400px) {
	div#deuxiemeSemester div.calendar-set,
	div#premierSemester div.calendar-set{
		margin-left:0px;
	}
}
