@CHARSET "ISO-8859-1";
div.row{
	margin-bottom: 30px;
}
/*.deadline {
	text-align: center;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 20%;
	margin-right: 20%;
	border: 3px red double;
	padding-left: 1%;
	font-size: 20px;
}*/

.eleve_groupe {
	text-align: center;
}

#formulaire {
	border-top: 3px black solid;
	border-bottom: 3px black solid;
	margin-left: 8%;
	margin-right: 8%;
	padding-top: 1%;
	padding-bottom: 1%;
}



/*div.row div[class^='col-']{
	padding-left:0px;
	padding-right: 0px;
}*/

div.grid{
	border: solid #ccc 1px;
	border-radius: 6px;
	margin-bottom: 30px;
}
div.grid div{
	margin: 10px 15px;
}
div.grid ul div{
	margin: 10px 0px;
}
div.grid div ul{
	margin-top: 30px;
}
div.tab-content div form{
	margin:12px;
}
label{
	margin: 0px 12px;
	font-weight: inherit;
}

button.marker, button.adder{
	float: right;
	margin-left: 16px;
	margin-bottom: 16px;
}

button.marker.working{
	color:#3E753F;
	border-color:#3E753F;
	background-color:#DFF0D9;
}
div.conf_box{
	border-color:#3E753F;
	padding-left: 10px;
	padding-right: 10px;
}

button.close{
	right:0px;
}

/* body { */
/*     background-color: rgb(190,190,230);
} */