@CHARSET "UTF-8";
div.row{
	margin-bottom:20px;	
}
div.group, div.numbers, div.missings, div.semester{
	border: solid #ccc 1px;
	min-height: 200px;
	border-radius: 6px;
	background-color: transparent;
	padding: 10px;
}
div[class^="col-"] h4{
	color: #777777
}
div.respo-group{
	margin-bottom: 8px;
}

div.respo-group div.alert{
	margin-bottom: 8px;
	padding: 6px
}

@media only screen and (max-width:500px) {
	.semester{
		overflow-y: scroll;
	}
}
div.progress {
	margin-bottom: 10px;
}

div.primary-header{
	background-color: #246482;
	color: #FFFFFF;
	border-radius: 4px 4px 0px 0px;
}

div.danger-header{
	background-color: #D9534F;
	color: #FFFFFF;
	border-radius: 4px 4px 0px 0px;
}
div.group div.alert-grp{
	background-color: #F8F8F8;
	color: #777777;
	border: #CCCCCC solid 1px;
	border-radius: 4px;
	padding-top: 6px;
	padding-bottom: 6px;
	margin-bottom: 6px;
}

.form-inline{
	margin-bottom: 6px;
}
div.barchart-promo{
	min-width: 200px;
}
.barchart-promo label{
	position: relative;
	left: 30%;
}

.barchart-prom-legend{
	min-height:110px;
	margin-top: 16px;
	border-radius: 6px;
	border: #246482 solid 1px;
	color: #246482;
}

.barchart-prom-legend span.badge{
	background-color: #246482;
	font-size: 1.8em;
	display: block;
	margin: auto;
	width: auto;
	margin-top: 6px;
	
}

.barchart-prom-legend span.badge + em{
	display: block;
	margin: auto;
	text-align: center;
}

.barchart-prom-legend div ul{
	padding-left: 10px;
}


div.app-empty{
	display:none;
}

em.mk{
	color: #246482;
}

div#linechart-canvas{
	max-width: 60px;
}