@CHARSET "UTF-8";
html {
    margin: 0px;
    min-height:570px;
}
body{
	height:100%;
}
/*** - - - HEADER  - - - ***/
header{
	background-color: #246482;
	height: 160px;
}
header img{
	display: inline-block;
	vertical-align: top;
	margin-top:5px;
	height: 150px;
}
@media only screen and (max-width:640px) {
 header img {
	width: 100%
 }
}
span.appname{
	opacity: 1;
}
header div.title{
	color: #FFFFFF;
}

header h1, header h3{
	color: white;
	margin-top: 0px;
}
header h3{
 opacity: 0.7;
}


span.fa{
	vertical-align: middle;
}
#formblock{
	margin-top: 10px;
	margin-bottom: 20px;
}

/*** - - - NAV  - - - ***/
#navmain{	
	margin-bottom:20px;
}

#bs-example-navbar-collapse-1{
	padding-left: 0px;
	margin-left: 8.33333%;		
}

#bs-example-navbar-collapse-1 ul.nav.navbar-nav li:first-child a.link1nav{
	padding-left: 0px;
}

ul.nav.navbar-nav a.icon_isep{
	padding: 0px;
	margin:0px;
}

a.icon_isep img{
	width: 45px;
	height: 45px;
}
div.collapse.navbar-collapse.in ul.nav.navbar-nav a.icon_isep img{
	margin-left: 20px;
	
}
/*** - - - TYPEAHEAD - - - ***/
.tt-menu.tt-open{
	background-color: white;
	border: 1px solid #BDBDBD;
	border-radius: 6px;
	width: 100%;
	position: absolute;
	top: 100px;
	margin-top: 8px;
}
.tt-menu.tt-open div.tt-suggestion{
	padding: 6px 12px;
	border-radius: 4px;
	cursor: pointer;
		
}
div.tt-menu.tt-open div.tt-suggestion.tt-suggestion-header{
	border-bottom: 1px solid #BDBDBD;
	border-radius: 0px;
	cursor: crosshair;
	border-radius: 4px 4px 0px 0px;
}
div.tt-dataset{
	padding:0px;
	margin:0px;
}
div.tt-cursor{
	color: white;
	background-color: #337AB7;
	cursor: pointer;
}
em.Bloodhound{
	color: #337AB7;
}


/*** - - - FOOTER - - - ***/
footer{
	min-height: 16px;
	width:100%;
	background-color: #bdbdbd;
	margin-top: 10px;
	position: relative;
	bottom: 0;
}