@CHARSET "ISO-8859-1";

/*NOUVEAU */

div.cascade-warning{
	display: none;
}

div.values{
	border: solid #ccc 1px;
	min-height: 230px;
	border-radius: 6px;
	padding: 20px;
	background-color: transparent;
	padding: 40px;
}

div.line{
  margin-bottom:12px;
}

div.line a.add:hover{
	color: #3E753F;
	border-color: #3E753F;
	background-color: #DFF0D9;
}

div input.form-control{
	text-align: center;
}

span.danger{
  color:red;
}
span.safe{
  color:#31708F;
}
/*input.form-control.title{
  width:200px;
}
input.form-control.value{
  width: 60px
}*/

form.form-inline.off div.line div.form-group input{
	border: solid 0px white;
	box-shadow: none;
}
form.off a.remove, form.off button.btn{
	display: none;
}

form.off div.form-group input[disabled]{
	background-color: #F2DEDE;
	background-color: white;
}

div.has-error input[disabled]{
	background-color: #F2DEDE;
	color: #A94442;
}

div#modaladd form{
	margin-top: 50px;
	margin-bottom: 50px;
}
