@CHARSET "UTF-8";
hr{
	margin-top: 20px;
	margin-bottom: 20px;
	
}
.group {
    width: 100%;

}
.subgroup {
    background: #F8F8F8;
    border: solid 1px #bdbdbd;
	border-radius: 6px;
	padding: 10px;
	margin: 20px 0px;
}
#sidebar.affix {
    top: 90px;
}

.bs-docs-sidebar {
    padding-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}


.bs-docs-sidebar .nav > li > a {
    color: #999;
    border-left: 2px solid transparent;
    padding: 4px 20px;
    font-size: 13px;
    font-weight: 400;
}


.bs-docs-sidebar .nav .nav > li > a {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 30px;
    font-size: 12px;
}


.bs-docs-sidebar .nav>.active>a, 
.bs-docs-sidebar .nav>li>a:hover, 
.bs-docs-sidebar .nav>li>a:focus {
    color: #246482;                 
    text-decoration: none;          
    background-color: transparent;  
    border-left-color: #246482; 
}


.bs-docs-sidebar .nav>.active>a, 
.bs-docs-sidebar .nav>.active:hover>a,
.bs-docs-sidebar .nav>.active:focus>a {
    font-weight: 700;
}


.bs-docs-sidebar .nav .nav>.active>a, 
.bs-docs-sidebar .nav .nav>.active:hover>a,
.bs-docs-sidebar .nav .nav>.active:focus>a {
    font-weight: 500;
}


.bs-docs-sidebar .nav ul.nav {
    display: none;           
}

.bs-docs-sidebar .nav>.active>ul.nav {
    display: block;           
}

h2{
	color: #777777;
}

div.info-checkpoint{
	width: 100%;
	padding: 10px 20px;
	border: 1px solid #246482;
	border-left: 6px solid #246482;
	border-radius:6px;
}
div.info-checkpoint div.text h5{
	color: #246482;
}
div.info-checkpoint div.text{
	width: 80%;
}

div.class-checkpoint{
	width: 80%;
	padding: 10px 20px;
	border: 1px solid #246482;
	border-left: 6px solid #246482;
	border-radius:6px;
	
}
div#prom{
	margin-bottom: 700px;
}

div.medal{
	display: inline-block;
	border: 1px solid #DDD;
	background-color: #FFFFFF;
	padding: 10px 16px;
	margin: 10px 10px 10px 0px;
	border-radius: 4px;
}

div.medal span.fa{
	color: #246482;
}

div.medal span.badge{
	background-color: #246482;
}

span.list-group-item:hover {
	color: #555;
    text-decoration: none;
    background-color: #F5F5F5;
}


div.row.class-card{
	border-radius: 6px;
	padding: 10px;
	border: solid 1px #bdbdbd;
	margin-left: 0px;
	margin-right: 0px;
}

div.class-card div.medal{
	background-color: #F8F8F8;
}

div.class-card div.ledgend{
	width: auto;
	dispaly: block;
	margin: auto;
	text-align: center;
	
}
