/*** CSS SINGIN MODULE ***/
form{
	margin-top: 100px;
	border-radius: 4px;
	border: 0.5px #CCC solid;
	padding: 50px;
}
.alert_input{
	min-height: 34px;
	margin-top:24px;
	margin-bottom: 24px;
	padding: 6px;
}
.alert_input p{

}

#formblock{
	min-height: 600px;	
}