@CHARSET "ISO-8859-1";

/*NOUVEAU */

div.cascade-warning{
	display: none;
}

div.values{
	/*border: solid #ccc 1px;*/
	min-height: 230px;
	border-radius: 6px;
	padding: 20px;
	background-color: transparent;
	padding: 20px;
	padding-top:0px;
}

div.line{
  margin-bottom:12px;
}

div.line a.add:hover{
	color: #3E753F;
	border-color: #3E753F;
	background-color: #DFF0D9;
}

div input.form-control{
	text-align: center;
}

span.danger{
  color:#A94442;
}
span.safe{
  color:#31708F;
}


form.form-inline.off div.line div.form-group input{
	border: solid 0px white;
	box-shadow: none;
}
form.off a.remove, form.off button.btn{
	display: none;
}

form.off div.form-group input[disabled]{
	background-color: #F2DEDE;
	background-color: white;
}

div.form-group{
	margin-bottom: 6px;
}

div.has-error input[disabled]{
	background-color: #F2DEDE;
	color: #A94442;
}

div#modaladd form{
	margin-top: 50px;
	margin-bottom: 50px;
}

div.alert.alert-warning.warning_modify{
	width: auto;
	vertical-align: middle;
	margin-bottom: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
}
